$color-01: #fff;
$color-02: #000;
$color-03: #5A2A82;
$color-04: #2E3B4E;
$color-05: #FDB71A;

$color-06: #3eaed2;
$color-07: #383838;
$color-08: #282938;

$color-success: #2ca94d;
$color-error: #ea2441;

$color-10: #004a80;
$color-11: #183764;
$color-12: #2b72bb;
$color-13: #ff8a00;
$color-14: #013d80;
$color-15: #d1f1fb;
$color-16: #0824a4;
$color-17: #ff5b00;


