.admin-dashboard {
    .text-admin {
        font-size: 12px;
    }
    .admin-block-img{
        width: 40px;
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img{
            display: block;
            align-items: center;
            max-width: 100%;
        }
    }
    .table-data {
        padding-top: 20px;
        table {
            border: 1px solid #6c757d;
            border-radius: 2px;
            width: 100%;
            thead {
                background: #6c757d;
                tr {
                    th {
                        font-size: 10px;
                        font-weight: 500;
                        color: #fff;
                        padding: 4px 10px;
                        text-align: center;

                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 10px;
                        font-weight: 500;
                        color: #000;
                        padding: 4px 10px;
                        text-align: center;
                        .text-admin{
                            font-size: 10px;
                            padding: 4px 8px;
                        }

                    }
                }
            }
        }

    }

    .list-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;

        .btn-action {
            border-radius: 2px;
            border: none;
            outline: none;
            padding: 4px 12px;
            .dropdown-item{
                font-size: 10px;
            }
        }
    }
    .modal{
        .modal-dialog{
            max-width: 60%;
        }
        .form-input{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            padding-top: 10px;
            label{
                font-size: 10px;
                font-weight: 600;
            }
            input{
                color: #000;
                border-radius: 2px;
                font-size: 10px;
                border: 1px solid #ccc;
                padding: 4px;
                &:focus{
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}
