
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }

 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 span, li, ul, div, a, p
 {
     font-size: 14px;
 }
span, li, ul, div, a, p, h1, h2, h3{
    font-family: 'Roboto', sans-serif !important;

}
a{
    text-decoration: none;
}

.text-desktop{
    font-size: 14px;
    @include for-size(991){
        font-size: 12px;
    }
}
.title-desktop{
    font-size: 16px;
    font-weight: 600;
    @include for-size(991){
        font-size: 14px;
        font-weight: 600;
    }
}
.text-bolder{
    font-weight: 700;
}
.text-white{
    color: #fff;
}
.text-pri{
    color: #0C5ADB;
}
.text-black{
    color: #1a202c;
}
.color-dark{
    color: #868b9f;
}




//Component css Block Images
.cover-images{
    img{
        display: block;
        max-width: 100%;
    }
}

//Display flex
.flex-jt-al-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-jt-al-cen-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fw-600{
    font-weight: 600;
}
.color-pri-light{
   color:  #09abef;
}
.big-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    @include for-size(991){
        font-size: 20px;
        font-weight: 700;
            line-height: 26px;

    }
    @include for-size(767){
        font-size: 16px;
        font-weight: 700;
            line-height: 22px;

    }
}
